<%= form_with(model: [role.medium,role], local: true) do |form| %>
  <% if role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :medium_id %>
    <%= form.select :medium_id, options_for_select(Medium.all.map{|m|[m.title, m.id]}, role.medium.id) %>
  </div>

  <div class="field">
    <%= form.label :person_id %>
    <%= form.select :person_id, options_for_select(Person.all.map{|p|[p.name, p.id]}) %>
  </div>

  <div class="field">
    <%= form.label :role %>
    <%= form.text_field :role, id: :role_role %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<script>
$(document).ready(function() {
    $('select').material_select();
  });
</script>
